echo "
# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
" >> .gitignore
node_modules
